*{
    margin: 0;
    padding: 0;
}

.wrapper{
    text-align: center;
    margin: auto;
    width: 90vw;
    min-height: 100vh;
}

.titulo{
    color: mediumspringgreen;
    border: 2px solid black;
    margin: 10px;
}

.card{
    width: 30%;
    display: block;
    margin: 10px;
}

.card-image{
    width: 100%;
    border: 2px solid black;
    margin: 10px;
    border-radius: 5px;
    margin-left: 300px;
}